body {
    font-family: 'Arimo', sans-serif;
    transition: background-color 0.3s ease-in-out;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    transition: opacity 0.3s ease-in-out;
}

header h1 {
    font-size: 36px;
}

header img {
    max-width: 100%;
    animation: fadeIn 2s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

nav {
    background-color: #444;
    color: #fff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav a {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

main {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
}

section {
    text-align: center;
    margin-bottom: 30px;
}

figure {
    padding: 10px;
    text-align: center;
    margin: 10px;
}

figure img {
    max-width: 100%;
}

figcaption {
    font-size: 16px;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    transition: background-color 0.3s ease-in-out;
}

address {
    font-size: 14px;
}

.redes-sociais {
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
